---
import Layout from '../layouts/Layout.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';
const allPosts = await getCollection('blog');
---
<Layout title="Bienvenido a Physics Maker">
  <h1>Que investigar hoy...</h1>
  <section class="grid">
    {allPosts.map(post => <PostCard post={post} />)}
  </section>
</Layout>

<style>
.grid {
  display: grid;
  /* Crea 3 columnas si hay espacio, si no, se ajusta */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
  margin-top: 2rem;
}
</style>